@model MusicInShop.Web.Models.ProjectModel
@{
    ViewBag.Title = "Проект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-section section pt-60 pt-lg-40 pt-md-30 pt-sm-20 pt-xs-30  pb-70 pb-lg-50 pb-md-40 pb-sm-20 pb-xs-20">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-area">
                    <span><img src="~/Content/img/white.png" alt="" height="50"></span>
                    <div class="filter-opt">
                        <div class="search-st d7">
                            <input class="form-control" id="myInput" type="text" placeholder="Искать...">
                            <span class="glyphicon glyphicon-search search-ic" aria-hidden="true" style="color: black"></span>
                        </div>
                        <div class="filter-form">
                            <form class="form-inline">
                                <div class="form-group">
                                    <select class="custom-select txt-props">
                                        <option value="">Категория</option>
                                        <option value="Экология">Экология</option>
                                        <option value="Дети">Дети</option>
                                        <option value="Молодежь">Молодёжь</option>
                                        <option value="Ветераны">Ветераны</option>
                                        <option value="Здравоохранение">Здравоохранение</option>
                                        <option value="Животные">Животные</option>
                                        <option value="Образование">Образование</option>
                                        <option value="Другое">Другое</option>
                                    </select>
                                </div>

                                <div class="form-group locality-flt">
                                    <select class="custom-select txt-props">
                                        <option value="">Населенный пункт</option>
                                        <option value="Кишинев">Кишинев</option>
                                        <option value="Бельцы">Бельцы</option>
                                        <option value="Чимишлия">Чимишлия</option>
                                        <option value="Орхей">Орхей</option>
                                        <option value="Комрат">Комрат</option>
                                        <option value="Яловены">Яловены</option>
                                        <option value="Сороки">Сороки</option>
                                        <option value="Единец">Единец</option>
                                    </select>
                                </div>
                                <button class="btn glow-button-2 flr-btn" type="submit"><a href="@Url.Action("FilteredProject","Project")">Применить фильтры</a></button>
                            </form>
                        </div>
                    </div>
                    

                    @{
                        var projects = Model.Projects.OrderByDescending(p => p.Id);
                        var count = projects.Count();
                        var rows = count / 4;
                        if (rows * 4 != count)
                        {
                            rows++;
                        }
                        for (int i = 0; i < rows; i++)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="shop-product">
                                                <div id="myTabContent-2" class="tab-content">
                                                    <div id="grid" class="tab-pane fade active show">
                                                        <div class="product-grid-view">
                                                            <div class="row">
                                                                <ul id="myProj">
                                                                    @for (int j = i * 4; j < 4 + i * 4 && j < count; j++)
                                                                    {
                                                                        var project = projects.ElementAt(j);
                                                                        var projectUrl = Url.Action("Project", "Project", new { id = project.Id });
                                                                        <li>
                                                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                                                <!--  Single Grid product Start -->
                                                                                <div class="single-grid-product mb-40">
                                                                                    <div @*class="grid-content"*@>
                                                                                        <div @*class="img-wrapper"*@>
                                                                                            <div class="product-image @*product-img-wrapper*@">
                                                                                                <a href="@projectUrl">
                                                                                                    <img src="@string.Format($"/Content/img/projects/{project.Id}.jpg")" alt="">
                                                                                                </a>

                                                                                                <div class="product-action">
                                                                                                    <ul>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="product-content">
                                                                                            <h3 class="title"> <a href="@projectUrl">@project.Name</a></h3>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--  Single Grid product End -->
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-30 mb-sm-40 mb-xs-30">

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myProj li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>